# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/src/Game


codeBlocks_workspace/
.xcodeproj/
/Project1/Project1/Project1.vcxproj
/Project1/Project1/Project1.vcxproj.filters
/Project1/Project1.sln
/Project1/Project1.VC.db
/Debug
/.gitattributes
/mcdirr.sln
/mcdirr.VC.db
/mcdirr.VC.VC.opendb
/mcdirr.vcxproj
/mcdirr.vcxproj.filters
Debug/

/proj1.sln
/proj1.VC.db
/proj1.VC.VC.opendb
/proj1.vcxproj
/proj1.vcxproj.filters

*.sln
*.vcxproj
.vs/
mcDirr-GameEngine\.vcxproj

mcDirr-GameEngine\.vcxproj\.filters
