# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

codeBlocks_workspace/
.xcodeproj/
/Project1/Project1/Project1.vcxproj
/Project1/Project1/Project1.vcxproj.filters
/Project1/Project1.sln
/Project1/Project1.VC.db
/.gitattributes
/mcdirr.sln
/mcdirr.VC.db
/mcdirr.VC.VC.opendb
/mcdirr.vcxproj
/mcdirr.vcxproj.filters
Debug/

